html.has-scroll-smooth[data-v-f9fde618] {
  overflow: hidden;
}
html.has-scroll-dragging[data-v-f9fde618] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body[data-v-f9fde618] {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container][data-v-f9fde618] {
  min-height: 100vh;
}
[data-scroll-direction=horizontal] [data-scroll-container][data-v-f9fde618] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}
[data-scroll-direction=horizontal] [data-scroll-section][data-v-f9fde618] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}
.c-scrollbar[data-v-f9fde618] {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar[data-v-f9fde618]:hover {
  transform: scaleX(1.45);
}
.c-scrollbar[data-v-f9fde618]:hover, .has-scroll-scrolling .c-scrollbar[data-v-f9fde618], .has-scroll-dragging .c-scrollbar[data-v-f9fde618] {
  opacity: 1;
}
[data-scroll-direction=horizontal] .c-scrollbar[data-v-f9fde618] {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction=horizontal] .c-scrollbar[data-v-f9fde618]:hover {
  transform: scaleY(1.3);
}
.c-scrollbar_thumb[data-v-f9fde618] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb[data-v-f9fde618] {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction=horizontal] .c-scrollbar_thumb[data-v-f9fde618] {
  right: auto;
  bottom: 0;
}
.img[data-v-f9fde618] {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.button[data-v-f9fde618] {
  display: flex;
  border-width: 2px;
  padding-left: calc(1.75 * 14 * 100vw / 1800);
  padding-right: calc(1.75 * 14 * 100vw / 1800);
  padding-top: calc(0.75 * 14 * 100vw / 1800);
  padding-bottom: calc(0.75 * 14 * 100vw / 1800);
  font-family: Joyride STD, sans-serif;
  text-transform: uppercase;
  align-items: center;
}
.button > svg[data-v-f9fde618] {
  margin-right: calc(0.375 * 14 * 100vw / 1800);
  width: 8vw;
}
@media (min-width: 768px) {
.button > svg[data-v-f9fde618] {
    width: calc(2.5 * 14 * 100vw / 1800);
}
}
.slider[data-v-f9fde618] {
  width: 100vw;
  overflow-x: hidden;
  margin-top: calc(3.5 * 14 * 100vw / 1800);
  margin-bottom: calc(3.5 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider[data-v-f9fde618] {
    margin-top: 0px;
    margin-bottom: 0px;
}
}
.slider .slides[data-v-f9fde618] {
  display: flex;
  overflow-x: visible;
}
.slider .slides[data-v-f9fde618] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(calc(8 * 14 * 100vw / 1800) * var(--tw-space-x-reverse));
  margin-left: calc(calc(8 * 14 * 100vw / 1800) * calc(1 - var(--tw-space-x-reverse)));
}
.slider .slides[data-v-f9fde618] {
  margin-left: calc(3.5 * 14 * 100vw / 1800);
  margin-right: calc(3.5 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider .slides[data-v-f9fde618] {
    margin-left: calc(10 * 14 * 100vw / 1800);
    margin-right: calc(10 * 14 * 100vw / 1800);
}
}
.slider .slides[data-v-f9fde618] {
  cursor: -webkit-grab;
  cursor: grab;
}
.slider .slides.active[data-v-f9fde618] {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.slider .slides .slide[data-v-f9fde618] {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  padding-left: calc(5 * 14 * 100vw / 1800);
  padding-right: calc(5 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider .slides .slide[data-v-f9fde618] {
    padding-top: calc(2.5 * 14 * 100vw / 1800);
    padding-bottom: calc(2.5 * 14 * 100vw / 1800);
}
.slider .slides .slide[data-v-f9fde618] {
    padding-left: 0px;
}
.slider .slides .slide[data-v-f9fde618] {
    padding-right: calc(4 * 14 * 100vw / 1800);
}
}
.slider .slides .slide[data-v-f9fde618] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  grid-template-rows: repeat(4,-webkit-max-content);
  grid-template-rows: repeat(4,max-content);
  grid-template-columns: auto;
}
@media (min-width: 768px) {
.slider .slides .slide[data-v-f9fde618] {
    grid-template-rows: repeat(3,-webkit-max-content);
    grid-template-rows: repeat(3,max-content);
}
.slider .slides .slide[data-v-f9fde618] {
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
}
.slider .slides .slide[data-v-f9fde618] {
    gap: 0px;
}
}
.slider .slides .slide div[data-v-f9fde618] {
  width: 85vw;
  height: 50vw;
}
@media (min-width: 768px) {
.slider .slides .slide div[data-v-f9fde618] {
    margin-right: calc(1.25 * 14 * 100vw / 1800);
}
.slider .slides .slide div[data-v-f9fde618] {
    width: calc(20 * 14 * 100vw / 1800);
}
.slider .slides .slide div[data-v-f9fde618] {
    height: 110%;
}
}
.slider .slides .slide div[data-v-f9fde618] {
  background-size: cover;
  background-position: center;
  margin-bottom: calc(4 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider .slides .slide div[data-v-f9fde618] {
    margin-bottom: 0px;
}
.slider .slides .slide div[data-v-f9fde618] {
    margin-left: calc(calc(1.25 * 14 * 100vw / 1800) * -1);
}
}
.slider .slides .slide div[data-v-f9fde618] {
  grid-row-start: 1;
}
@media (min-width: 768px) {
.slider .slides .slide div[data-v-f9fde618] {
    grid-row: 1 / -1;
}
}
.slider .slides .slide div[data-v-f9fde618] {
  grid-column: span 1 / span 1;
}
@media (min-width: 768px) {
.slider .slides .slide div[data-v-f9fde618] {
    grid-column-start: 1;
}
.slider .slides .slide div[data-v-f9fde618] {
    grid-column-end: 2;
}
}
.slider .slides .slide div[data-v-f9fde618] {
  align-self: center;
}
.slider .slides .slide h3[data-v-f9fde618] {
  grid-column-start: 1;
  grid-row-start: 2;
}
@media (min-width: 768px) {
.slider .slides .slide h3[data-v-f9fde618] {
    grid-column-start: 2;
}
.slider .slides .slide h3[data-v-f9fde618] {
    grid-row-start: 1;
}
}
.slider .slides .slide h3[data-v-f9fde618] {
  font-size: 10vw;
  line-height: 1;
  margin-bottom: calc(4 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider .slides .slide h3[data-v-f9fde618] {
    font-size: calc(3.75* 14 * 100vw / 1800);
    line-height: 1.1;
}
.slider .slides .slide h3[data-v-f9fde618] {
    margin-bottom: calc(1.25 * 14 * 100vw / 1800);
}
}
.slider .slides .slide h4[data-v-f9fde618] {
  grid-column-start: 1;
  grid-row-start: 3;
}
@media (min-width: 768px) {
.slider .slides .slide h4[data-v-f9fde618] {
    grid-column-start: 2;
}
.slider .slides .slide h4[data-v-f9fde618] {
    grid-row-start: 2;
}
}
.slider .slides .slide h4[data-v-f9fde618] {
  font-weight: 600;
  margin-bottom: calc(9 * 14 * 100vw / 1800);
  font-size: calc(8* 14 * 100vw / 1800);
  line-height: 1;
}
@media (min-width: 768px) {
.slider .slides .slide h4[data-v-f9fde618] {
    margin-bottom: calc(3 * 14 * 100vw / 1800);
}
.slider .slides .slide h4[data-v-f9fde618] {
    font-size: calc(1.875* 14 * 100vw / 1800);
    line-height: calc(2.25* 14 * 100vw / 1800);
}
}
.slider .slides .slide p[data-v-f9fde618] {
  grid-column-start: 1;
  grid-row-start: 4;
}
@media (min-width: 768px) {
.slider .slides .slide p[data-v-f9fde618] {
    grid-column-start: 2;
}
.slider .slides .slide p[data-v-f9fde618] {
    grid-row-start: 3;
}
}
.slider .slides .slide p[data-v-f9fde618] {
  margin-bottom: calc(5 * 14 * 100vw / 1800);
}
@media (min-width: 768px) {
.slider .slides .slide p[data-v-f9fde618] {
    margin-bottom: 0px;
}
}
.slider .slides .slide p[data-v-f9fde618] {
  font-size: calc(6* 14 * 100vw / 1800);
  line-height: 1.375;
}
@media (min-width: 768px) {
.slider .slides .slide p[data-v-f9fde618] {
    font-size: calc(1.25* 14 * 100vw / 1800);
    line-height: calc(1.75* 14 * 100vw / 1800);
}
}html.has-scroll-smooth[data-v-1f942ad2] {
  overflow: hidden;
}
html.has-scroll-dragging[data-v-1f942ad2] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body[data-v-1f942ad2] {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container][data-v-1f942ad2] {
  min-height: 100vh;
}
[data-scroll-direction=horizontal] [data-scroll-container][data-v-1f942ad2] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}
[data-scroll-direction=horizontal] [data-scroll-section][data-v-1f942ad2] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}
.c-scrollbar[data-v-1f942ad2] {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar[data-v-1f942ad2]:hover {
  transform: scaleX(1.45);
}
.c-scrollbar[data-v-1f942ad2]:hover, .has-scroll-scrolling .c-scrollbar[data-v-1f942ad2], .has-scroll-dragging .c-scrollbar[data-v-1f942ad2] {
  opacity: 1;
}
[data-scroll-direction=horizontal] .c-scrollbar[data-v-1f942ad2] {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction=horizontal] .c-scrollbar[data-v-1f942ad2]:hover {
  transform: scaleY(1.3);
}
.c-scrollbar_thumb[data-v-1f942ad2] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb[data-v-1f942ad2] {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction=horizontal] .c-scrollbar_thumb[data-v-1f942ad2] {
  right: auto;
  bottom: 0;
}
.line[data-v-1f942ad2] {
  height: 1px;
  width: 1.5rem;
}
@media (min-width: 768px) {
.line[data-v-1f942ad2] {
    width: calc(2.25 * 14 * 100vw / 1800);
}
}
.line[data-v-1f942ad2] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.line-2[data-v-1f942ad2] {
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
.line-2[data-v-1f942ad2] {
    margin-top: calc(1 * 14 * 100vw / 1800);
}
}@font-face {
    font-family: 'Joyride ALT';
    src: url('/assets/JoyrideALTItalic.f2a14eb9.woff2') format('woff2'),
        url('/assets/JoyrideALTItalic.7071b53e.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride ALT';
    src: url('/assets/JoyrideALT.6910a711.woff2') format('woff2'),
        url('/assets/JoyrideALT.5c7de71f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride ALT Outline';
    src: url('/assets/JoyrideALTOutlineItalic.d4706e6d.woff2') format('woff2'),
        url('/assets/JoyrideALTOutlineItalic.42beef83.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride ALT Outline';
    src: url('/assets/JoyrideALTOutline.1d95485f.woff2') format('woff2'),
        url('/assets/JoyrideALTOutline.4edcbf1e.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride WIDE';
    src: url('/assets/JoyrideWIDE.99ad94dc.woff2') format('woff2'),
        url('/assets/JoyrideWIDE.d7be83a2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride STD Outline';
    src: url('/assets/JoyrideSTDOutlineItalic.a3b8159c.woff2') format('woff2'),
        url('/assets/JoyrideSTDOutlineItalic.056f0747.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride EXT';
    src: url('/assets/JoyrideEXTItalic.8b1fc4fb.woff2') format('woff2'),
        url('/assets/JoyrideEXTItalic.9a0b8d2a.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride STD Outline';
    src: url('/assets/JoyrideSTDOutline.b51297ed.woff2') format('woff2'),
        url('/assets/JoyrideSTDOutline.f3f4e706.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride EXT Outline';
    src: url('/assets/JoyrideEXTOutline.ef2a7100.woff2') format('woff2'),
        url('/assets/JoyrideEXTOutline.e30cb2eb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride EXT';
    src: url('/assets/JoyrideEXT.a97e6d6a.woff2') format('woff2'),
        url('/assets/JoyrideEXT.18c817d9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride WIDE';
    src: url('/assets/JoyrideWIDEItalic.6a7bf059.woff2') format('woff2'),
        url('/assets/JoyrideWIDEItalic.eec5d7c6.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride EXT Outline';
    src: url('/assets/JoyrideEXTOutlineItalic.fcc86b2b.woff2') format('woff2'),
        url('/assets/JoyrideEXTOutlineItalic.b47f748f.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride STD';
    src: url('/assets/JoyrideSTD.66498a98.woff2') format('woff2'),
        url('/assets/JoyrideSTD.77302732.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride STD';
    src: url('/assets/JoyrideSTDItalic.9692674a.woff2') format('woff2'),
        url('/assets/JoyrideSTDItalic.e5fea958.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride WIDE Outline';
    src: url('/assets/JoyrideWIDEOutlineItalic.597b2829.woff2') format('woff2'),
        url('/assets/JoyrideWIDEOutlineItalic.fb04c048.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Joyride WIDE Outline';
    src: url('/assets/JoyrideWIDEOutline.4798b589.woff2') format('woff2'),
        url('/assets/JoyrideWIDEOutline.5cc08eea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Medium.f55c88ce.woff2') format('woff2'),
        url('/assets/Manrope-Medium.0b59e71d.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Regular.60d02844.woff2') format('woff2'),
        url('/assets/Manrope-Regular.889dd891.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Medium.f55c88ce.woff2') format('woff2'),
        url('/assets/Manrope-Medium.0b59e71d.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Light.0a944ca1.woff2') format('woff2'),
        url('/assets/Manrope-Light.e0a978da.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Bold.a120ecbc.woff2') format('woff2'),
        url('/assets/Manrope-Bold.826f558c.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Light.0a944ca1.woff2') format('woff2'),
        url('/assets/Manrope-Light.e0a978da.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Bold.a120ecbc.woff2') format('woff2'),
        url('/assets/Manrope-Bold.826f558c.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Regular.60d02844.woff2') format('woff2'),
        url('/assets/Manrope-Regular.889dd891.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Thin.a5cbb18a.woff2') format('woff2'),
        url('/assets/Manrope-Thin.06b29d85.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Thin.a5cbb18a.woff2') format('woff2'),
        url('/assets/Manrope-Thin.06b29d85.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Semibold.17a58d65.woff2') format('woff2'),
        url('/assets/Manrope-Semibold.fbe87b0f.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope-Semibold.17a58d65.woff2') format('woff2'),
        url('/assets/Manrope-Semibold.fbe87b0f.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}
[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}
[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/*
! tailwindcss v3.0.1 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}
::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse;  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;  /* 1 */
  color: #9ca3af; /* 2 */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;  /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1;  /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}
.-rotate-12, .-rotate-3, .-rotate-2, .transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.border {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.blur-\[64px\] {
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
h1, .h1 {
    font-size: 14vw;
    line-height: 1.1;
}
@media (min-width: 768px) {
h1, .h1 {
        font-size: calc(6* 14 * 100vw / 1800);
        line-height: 1.1;
}
}
h1, .h1 {
    font-family: Joyride STD, sans-serif;
}
.grid-cols-24 {
    grid-template-columns: minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr);
}
h2, .h2 {
    font-size: 6.5vw;
}
@media (min-width: 768px) {
h2, .h2 {
        font-size: calc(2.25* 14 * 100vw / 1800);
        line-height: calc(2.5* 14 * 100vw / 1800);
}
}
h2, .h2 {
    font-family: Manrope, sans-serif;
    font-weight: 600;
}
h3, .h3 {
    font-size: calc(1.5* 14 * 100vw / 1800);
    line-height: calc(2* 14 * 100vw / 1800);
    font-family: Joyride STD, sans-serif;
}
p, .p {
    font-family: Manrope, sans-serif;
    font-weight: 600;
    font-size: 4.5vw;
}
@media (min-width: 768px) {
p, .p {
        font-size: calc(1.5* 14 * 100vw / 1800);
        line-height: calc(2* 14 * 100vw / 1800);
}
}
p, .p {
    max-width: 65ch;
}
.clip {
    overflow: hidden;
}
.container {
    width: 100%;
}
@media (min-width: 640px) {
.container {
        max-width: 640px;
}
}
@media (min-width: 768px) {
.container {
        max-width: 768px;
}
}
@media (min-width: 1024px) {
.container {
        max-width: 1024px;
}
}
@media (min-width: 1280px) {
.container {
        max-width: 1280px;
}
}
@media (min-width: 1536px) {
.container {
        max-width: 1536px;
}
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: min(1200px, 100%);
}
.hero {
    margin-left: calc(6 * 14 * 100vw / 1800);
    margin-right: calc(6 * 14 * 100vw / 1800);
}
.wrapper {
    margin-left: calc(6 * 14 * 100vw / 1800);
    margin-right: calc(6 * 14 * 100vw / 1800);
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 3.8888888889vw;
    grid-template-columns: minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr);
}
@media (min-width: 768px) {
.wrapper {
      grid-row-gap: 0px;
      grid-template-columns: minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr);
}
}
.visible {
    visibility: visible;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.-top-1\/2 {
    top: -50%;
}
.-top-f-14 {
    top: calc(calc(3.5 * 14 * 100vw / 1800) * -1);
}
.-left-f-12 {
    left: calc(calc(3 * 14 * 100vw / 1800) * -1);
}
.-top-f-48 {
    top: calc(calc(12 * 14 * 100vw / 1800) * -1);
}
.top-0 {
    top: 0px;
}
.z-50 {
    z-index: 50;
}
.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.z-\[-1\] {
    z-index: -1;
}
.z-\[100\] {
    z-index: 100;
}
.col-span-full {
    grid-column: 1 / -1;
}
.col-start-6 {
    grid-column-start: 6;
}
.col-start-11 {
    grid-column-start: 11;
}
.col-start-1 {
    grid-column-start: 1;
}
.col-start-7 {
    grid-column-start: 7;
}
.col-start-2 {
    grid-column-start: 2;
}
.col-start-8 {
    grid-column-start: 8;
}
.col-start-\[11\] {
    grid-column-start: 11;
}
.col-end-8 {
    grid-column-end: 8;
}
.col-end-11 {
    grid-column-end: 11;
}
.col-end-\[16\] {
    grid-column-end: 16;
}
.col-end-\[15\] {
    grid-column-end: 15;
}
.col-end-10 {
    grid-column-end: 10;
}
.col-end-9 {
    grid-column-end: 9;
}
.col-end-7 {
    grid-column-end: 7;
}
.col-end-\[12\] {
    grid-column-end: 12;
}
.row-span-full {
    grid-row: 1 / -1;
}
.row-start-2 {
    grid-row-start: 2;
}
.row-start-3 {
    grid-row-start: 3;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.ml-f-4 {
    margin-left: calc(1 * 14 * 100vw / 1800);
}
.mt-\[5\.5vw\] {
    margin-top: 5.5vw;
}
.mt-f-9 {
    margin-top: calc(2.25 * 14 * 100vw / 1800);
}
.mt-f-48 {
    margin-top: calc(12 * 14 * 100vw / 1800);
}
.-mt-f-80 {
    margin-top: calc(calc(20 * 14 * 100vw / 1800) * -1);
}
.mt-f-40 {
    margin-top: calc(10 * 14 * 100vw / 1800);
}
.mt-f-96 {
    margin-top: calc(24 * 14 * 100vw / 1800);
}
.mt-\[-25vw\] {
    margin-top: -25vw;
}
.mt-\[-42vw\] {
    margin-top: -42vw;
}
.mt-\[-18vw\] {
    margin-top: -18vw;
}
.mt-f-44 {
    margin-top: calc(11 * 14 * 100vw / 1800);
}
.mt-\[30vw\] {
    margin-top: 30vw;
}
.-ml-f-12 {
    margin-left: calc(calc(3 * 14 * 100vw / 1800) * -1);
}
.mt-\[120vw\] {
    margin-top: 120vw;
}
.mt-f-24 {
    margin-top: calc(6 * 14 * 100vw / 1800);
}
.mt-\[-35vw\] {
    margin-top: -35vw;
}
.mt-\[-68vw\] {
    margin-top: -68vw;
}
.mr-f-1 {
    margin-right: calc(0.25 * 14 * 100vw / 1800);
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.hidden {
    display: none;
}
.h-8 {
    height: 2rem;
}
.h-screen {
    height: 100vh;
}
.h-\[60vw\] {
    height: 60vw;
}
.h-\[22vw\] {
    height: 22vw;
}
.h-\[80vw\] {
    height: 80vw;
}
.h-\[50vw\] {
    height: 50vw;
}
.h-\[30vw\] {
    height: 30vw;
}
.h-\[40vw\] {
    height: 40vw;
}
.h-\[70vw\] {
    height: 70vw;
}
.h-10 {
    height: 2.5rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-screen {
    width: 100vw;
}
.w-full {
    width: 100%;
}
.w-\[80vw\] {
    width: 80vw;
}
.w-max {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.w-\[130vw\] {
    width: 130vw;
}
.w-\[70vw\] {
    width: 70vw;
}
.w-8 {
    width: 2rem;
}
.w-10 {
    width: 2.5rem;
}
.flex-none {
    flex: none;
}
.-rotate-12 {
    --tw-rotate: -12deg;
    transform: var(--tw-transform);
}
.-rotate-3 {
    --tw-rotate: -3deg;
    transform: var(--tw-transform);
}
.-rotate-2 {
    --tw-rotate: -2deg;
    transform: var(--tw-transform);
}
.transform {
    transform: var(--tw-transform);
}
.transform-gpu {
    --tw-transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@-webkit-keyframes ping {
75%, 100% {
        transform: scale(2);
        opacity: 0;
}
}
@keyframes ping {
75%, 100% {
        transform: scale(2);
        opacity: 0;
}
}
.animate-ping {
    -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.cursor-pointer {
    cursor: pointer;
}
.resize {
    resize: both;
}
.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.place-content-center {
    place-content: center;
}
.content-center {
    align-content: center;
}
.justify-center {
    justify-content: center;
}
.space-x-f-14 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(calc(3.5 * 14 * 100vw / 1800) * var(--tw-space-x-reverse));
    margin-left: calc(calc(3.5 * 14 * 100vw / 1800) * calc(1 - var(--tw-space-x-reverse)));
}
.place-self-center {
    place-self: center;
}
.self-center {
    align-self: center;
}
.justify-self-end {
    justify-self: end;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-visible {
    overflow: visible;
}
.rounded-\[50\%\] {
    border-radius: 50%;
}
.rounded-full {
    border-radius: 9999px;
}
.border {
    border-width: 1px;
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.bg-purple-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(168 85 247 / var(--tw-bg-opacity));
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
.bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}
.bg-\[url\(\'\/src\/assets\/alisa-childers\.jpg\'\)\] {
    background-image: url('/assets/alisa-childers.87b2f22d.jpg');
}
.fill-current {
    fill: currentColor;
}
.py-f-6 {
    padding-top: calc(1.5 * 14 * 100vw / 1800);
    padding-bottom: calc(1.5 * 14 * 100vw / 1800);
}
.pt-f-28 {
    padding-top: calc(7 * 14 * 100vw / 1800);
}
.text-center {
    text-align: center;
}
.font-joyride {
    font-family: Joyride STD, sans-serif;
}
.font-joyride-wide {
    font-family: Joyride WIDE, sans-serif;
}
.font-joyride-ext {
    font-family: Joyride EXT, sans-serif;
}
.font-joyride-out {
    font-family: Joyride STD Outline, sans-serif;
}
.text-\[8\.8vw\] {
    font-size: 8.8vw;
}
.text-f-4xl {
    font-size: calc(2.25* 14 * 100vw / 1800);
    line-height: calc(2.5* 14 * 100vw / 1800);
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.leading-none {
    line-height: 1;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}
.opacity-20 {
    opacity: 0.2;
}
.opacity-0 {
    opacity: 0;
}
.bg-blend-multiply {
    background-blend-mode: multiply;
}
.blur-\[64px\] {
    --tw-blur: blur(64px);
    filter: var(--tw-filter);
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.duration-300 {
    transition-duration: 300ms;
}
.duration-500 {
    transition-duration: 500ms;
}
.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.will-change-transform {
    will-change: transform;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  overflow-x: hidden;
}
body {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
.md\:wrapper {
        margin-left: calc(6 * 14 * 100vw / 1800);
        margin-right: calc(6 * 14 * 100vw / 1800);
}
.md\:wrapper {
        display: grid;
}
.md\:wrapper {
        grid-template-columns: repeat(12, minmax(0, 1fr));
}
.md\:wrapper {
        grid-template-rows: auto;
}
.md\:wrapper {
    grid-row-gap: 3.8888888889vw;
    grid-template-columns: minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr) minmax(0vw, 1.1fr) minmax(0vw, 1fr);
}
@media (min-width: 768px) {
.md\:wrapper {
      grid-row-gap: 0px;
      grid-template-columns: minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr) minmax(0vw, 1.3fr) minmax(0vw, 1fr);
}
}
.md\:inset-x-0 {
        left: 0px;
        right: 0px;
}
.md\:-top-f-3\.5 {
        top: calc(calc(0.875 * 14 * 100vw / 1800) * -1);
}
.md\:-top-f-3 {
        top: calc(calc(0.75 * 14 * 100vw / 1800) * -1);
}
.md\:top-0 {
        top: 0px;
}
.md\:left-0 {
        left: 0px;
}
.md\:col-start-\[12\] {
        grid-column-start: 12;
}
.md\:col-start-\[18\] {
        grid-column-start: 18;
}
.md\:col-start-\[15\] {
        grid-column-start: 15;
}
.md\:col-start-2 {
        grid-column-start: 2;
}
.md\:col-start-5 {
        grid-column-start: 5;
}
.md\:col-start-4 {
        grid-column-start: 4;
}
.md\:col-start-\[6\] {
        grid-column-start: 6;
}
.md\:col-start-\[7\] {
        grid-column-start: 7;
}
.md\:col-start-11 {
        grid-column-start: 11;
}
.md\:col-start-\[19\] {
        grid-column-start: 19;
}
.md\:col-start-\[17\] {
        grid-column-start: 17;
}
.md\:col-end-10 {
        grid-column-end: 10;
}
.md\:col-end-9 {
        grid-column-end: 9;
}
.md\:col-end-\[23\] {
        grid-column-end: 23;
}
.md\:col-end-\[24\] {
        grid-column-end: 24;
}
.md\:col-end-6 {
        grid-column-end: 6;
}
.md\:col-end-5 {
        grid-column-end: 5;
}
.md\:col-end-8 {
        grid-column-end: 8;
}
.md\:col-end-\[18\] {
        grid-column-end: 18;
}
.md\:col-end-\[17\] {
        grid-column-end: 17;
}
.md\:col-end-\[16\] {
        grid-column-end: 16;
}
.md\:col-end-\[20\] {
        grid-column-end: 20;
}
.md\:my-f-96 {
        margin-top: calc(24 * 14 * 100vw / 1800);
        margin-bottom: calc(24 * 14 * 100vw / 1800);
}
.md\:mt-f-10 {
        margin-top: calc(2.5 * 14 * 100vw / 1800);
}
.md\:mt-f-96 {
        margin-top: calc(24 * 14 * 100vw / 1800);
}
.md\:mt-f-9 {
        margin-top: calc(2.25 * 14 * 100vw / 1800);
}
.md\:-mt-f-96 {
        margin-top: calc(calc(24 * 14 * 100vw / 1800) * -1);
}
.md\:-mt-f-60 {
        margin-top: calc(calc(15 * 14 * 100vw / 1800) * -1);
}
.md\:mt-\[18vw\] {
        margin-top: 18vw;
}
.md\:-mt-f-52 {
        margin-top: calc(calc(13 * 14 * 100vw / 1800) * -1);
}
.md\:-mt-f-48 {
        margin-top: calc(calc(12 * 14 * 100vw / 1800) * -1);
}
.md\:-mt-f-40 {
        margin-top: calc(calc(10 * 14 * 100vw / 1800) * -1);
}
.md\:mt-f-32 {
        margin-top: calc(8 * 14 * 100vw / 1800);
}
.md\:mt-\[-28vw\] {
        margin-top: -28vw;
}
.md\:block {
        display: block;
}
.md\:h-f-12 {
        height: calc(3 * 14 * 100vw / 1800);
}
.md\:h-f-96 {
        height: calc(24 * 14 * 100vw / 1800);
}
.md\:h-f-48 {
        height: calc(12 * 14 * 100vw / 1800);
}
.md\:h-f-80 {
        height: calc(20 * 14 * 100vw / 1800);
}
.md\:h-\[24vw\] {
        height: 24vw;
}
.md\:w-screen {
        width: 100vw;
}
.md\:w-auto {
        width: auto;
}
.md\:pt-f-14 {
        padding-top: calc(3.5 * 14 * 100vw / 1800);
}
.md\:text-f-4xl {
        font-size: calc(2.25* 14 * 100vw / 1800);
        line-height: calc(2.5* 14 * 100vw / 1800);
}
}
@media (min-width: 1024px) {
.lg\:z-\[-2\] {
        z-index: -2;
}
.lg\:-mt-f-48 {
        margin-top: calc(calc(12 * 14 * 100vw / 1800) * -1);
}
.lg\:-mt-f-56 {
        margin-top: calc(calc(14 * 14 * 100vw / 1800) * -1);
}
}